/bin/
/.project
/.classpath
**/*.class
**/.DS_Store
/.gitignore.orig
/.gradle/
/.idea/
/*.iml
/build/
/.settings/
/testdesigns/.Xil
/testdesigns/*.tcp
/testdesigns/*.jou
/testdesigns/*.log
/testdesigns/*.dmp
**/~$*.docx
/doc/*.aux
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/TechReport.log
/doc/TechReport.out
/doc/*.toc
/doc/texput.log
/doc/*.synctex.gz