/bin/
/.project
/.classpath
**/*.class
**/.DS_Store
/.gitignore.orig
/.gradle/
/.idea/
/*.iml
/build/
/.settings/
/testdesigns/.Xil
/testdesigns/*.tcp
/testdesigns/*.jou
/testdesigns/*.log
/testdesigns/*.dmp
**/~$*.docx
/doc/*.aux
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.log
/doc/*.out
/doc/*.toc
/doc/*.log
/doc/*.synctex.gz
/exampleVivadoDesigns/*.rscp
/exampleVivadoDesigns/*.tcp
/exampleVivadoDesigns/*.edf
exampleVivadoDesigns/*.jou
exampleVivadoDesigns/*.log
exampleVivadoDesigns/*.html


